<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldnr.recettes">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_cooking_mania"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.NewRecipe" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.CreateLoginActivity" />
        <activity android:name=".Activities.PrintRecipe"></activity>
        <activity android:name=".Activities.Update"></activity>
    </application>

</manifest>